@page "/"

<head>
    <link rel="stylesheet" href="wwwroot/lib/myCss/app.css">
    <script src="wwwroot/lib/myScripts/mainscript.js"></script>
</head>

<body>
    <PageTitle>purr</PageTitle>
    <main>
        <div class="intro">  
            <h2 class="fade-in-delay-1" id="heyText">Hey</h2>
            <div id="h1Align">
                <h2 id="imText">I'm</h2> 
                <h1 id="seldaText"><b>Selda Halici</b></h1>
            </div>
            <h4 class="fade-in-delay-3">a Software Developer</h4>
        </div>
        
        <div class="placeHolder1"></div>



@***************** Cards *****************@

        <div class="list">
            
            @* project 1 *@
            <a class="item" href="https://github.com/yapcona/KiKi_Simp"> 
                <div class="fade-in-delay-4">
                    <div class="borderAnimation">
                        <img src="lib/images/kiki-img.jpg" alt="1">
                        <p class="imgText">Password<br>Generato<br>with GUI</p>
                    </div>
                </div>
            </a>

            @* project 2 *@
            <a class="item" href="https://github.com/yapcona/">
                <div class="fade-in-delay-4">
                    <div class="borderAnimation">
                        <img src="lib/images/finance-img.jpg" alt="1">
                        <p class="imgText">Finance<br>Tracker<br>App</p>
                    </div>
                </div>
            </a>

            @* project 3 *@
            <a class="item" href="https://github.com/yapcona/online-art-gallery-website">
                <div class="fade-in-delay-4">
                    <div class="borderAnimation">
                        <img src="lib/images/art-img.jpg" alt="2">
                        <p class="imgText">Art<br>Gallery<br>Website</p>
                    </div>
                </div>
            </a>

            @* project 4 *@
            <a class="item" href="https://github.com/yapcona/">
                <div class="fade-in-delay-4">
                    <div class="borderAnimation">
                        <img src="lib/images/portfolio-img.jpg" alt="1">
                        <p class="imgText">My<br>Portfolio <br>Website</p>
                    </div>
                </div>
            </a>

        </div>
    </main>
</body>
