<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selda Halici</title>
    <link rel="stylesheet" href="app.css">
    <script src="wwwroot/lib/myScripts/mainscript.js"></script>
</head>
<body>
    <main>
        <div class="intro">
            <h2 class="fade-in-delay-1" id="heyText">Hey</h2>
            <div id="h1Align">
                <h2 id="imText">I'm</h2>
                <h1 id="meowText"><b>Selda Halici</b></h1>
            </div>
            <h4 class="fade-in-delay-3">a Software Developer</h4>
        </div>

        <div class="placeHolder1"></div>

        <div class="list">

            <a class="item" href="https://github.com/yapcona/KiKi_Simp/tree/master" target="_blank">
                <div class="fade-in-delay-4">
                    <div class="borderAnimation">
                        <img src="lib/images/kiki-img.jpg" alt="1">
                        <p class="imgText">Password<br>Generato<br>with GUI</p>
                    </div>
                </div>
            </a>

            <a class="item" href="https://github.com/yapcona/Track_Cat/tree/master" target="_blank">
                <div class="fade-in-delay-4">
                    <div class="borderAnimation">
                        <img src="lib/images/finance-img.jpg" alt="1">
                        <p class="imgText">Finance<br>Tracker<br>App</p>
                    </div>
                </div>
            </a>

            <a class="item" href="https://github.com/yapcona/online-art-gallery-website" target="_blank">
                <div class="fade-in-delay-4">
                    <div class="borderAnimation">
                        <img src="lib/images/art-img.jpg" alt="2">
                        <p class="imgText">Art<br>Gallery<br>Website</p>
                    </div>
                </div>
            </a>

            <a class="item" href="https://github.com/yapcona/Portfolio_Website_Blazor" target="_blank">
                <div class="fade-in-delay-4">
                    <div class="borderAnimation">
                        <img src="lib/images/portfolio-img.jpg" alt="1">
                        <p class="imgText">My<br>Portfolio <br>Website</p>
                    </div>
                </div>
            </a>

        </div>
    </main>
</body>
</html>